<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>MEDIOLIO</title>

</head>

<body>
<div id="header">
	<div id="headerWrap">
        <div id="bellWrap">
            <a id="bellIcon" href="#"><span id="bellNum">0</span></a>
            <ul class="bubble" id="bubble_bell">
                <li><a href="#">알림 3아주아주아주아주아주아주아주아주긴알람입니당 긴알람이에요 긴알람긴알람리람ㅇㄴ리ㅏㅁ넝리ㅏㅁㄴㅇ러ㅣㅏㅁㄴㄹㅇ</a></li>
                <li><a href="#">알림 1</a></li>
                <li><a href="#">알림 2</a></li>
                <li><a href="#">알림 3</a></li>
                <li><a href="#">알림 1</a></li>
                <li><a href="#">알림 2</a></li>
            </ul>
            <span id="bubbleAfter"></span>
        </div><!--bellWrap-->
        <div class="inputStyle" id="search_main">
        	<div id="selectWrap_main">
                <select id="select_main">
                    <option value="title">TITLE</option>
                    <option value="id">ID</option>
                    <option value="tag">TAG</option>
                </select>
           </div>
            <input class="input_in" id="text_main" type="text"/>
            <input class="btn_search" type="button" />
        </div><!--//search_main-->
        <input class="btnStyle" id="btn_login" type="button" value="LOGIN" onClick="loginModalOpen()"/>
    </div><!--//headerWrap-->
    
    
</div>
    

<div id="aside">
    <div id="logoWrap"></div>
	<div class="asideWrap" id="userBox">
    	<div id="user_idWrap"><a href="#">12LEEYURA</a></div>
        <ul>
        	<li id="myPf"><a href="#" class="indent">MyPortfolio</a></li>
            <li id="likePf"><a href="#" class="indent">Like</a></li>
            <li id="follow"><a href="#" class="indent">Follow</a></li>
            <li id="message"><a href="#" class="indent">Message</a></li>
        </ul>
    </div><!--//userBox-->
    <div id="uploadWrap">
    	<a id="uploadPf" href="write.html">UPLOAD PORTFOLIO</a>
    </div><!--//uploadWrap-->
    <div class="asideWrap" id="categoryTitle">
    	<p>CATEGORY</p>
    </div><!--//categoryTitle-->
    
    <div id="categoryWrap">
        <ul id="nav_category">
    		<li class="nav_group">
    			<div class="nav_title" id="ct_game"><span></span>GAME</div>
            	<ul class="nav_sub">
            		<li><a href="#">프로그래밍</a>
                    <li><a href="#">태그이름</a>
                    <li><a href="#">tag</a>
                    <li><a href="#">tag</a>
                    <li><a href="#">tag</a>
                    <li><a href="#">tag</a>
                    <li><a href="#">tag</a>
                    <li><a href="#">tag</a>
                    <li><a href="#">tag</a>
                    <li><a href="#">tag</a>
                    <li><a href="#">tag</a>
                    <li><a href="#">tag</a>
                    <li><a href="#">tag</a>
                    <li><a href="#">태그이름</a>
                </ul>
            </li>
            
            <li class="nav_group">
    			<div class="nav_title" id="ct_video"><span></span>VIDEO</div>
            	<ul class="nav_sub">
            		<li><a href="#">tag</a>
                    <li><a href="#">tag</a>
                    <li><a href="#">tag</a>
                    <li><a href="#">tag</a>
                    <li><a href="#">tag</a>
                    <li><a href="#">tag</a>
                    <li><a href="#">tag</a>
                </ul>
            </li>
            
            <li class="nav_group">
    			<div class="nav_title" id="ct_sound"><span></span>SOUND</div>
            	<ul class="nav_sub">
            		<li><a href="#">tag</a>
                    <li><a href="#">tag</a>
                </ul>
            </li>
            
            <li class="nav_group">
    			<div class="nav_title" id="ct_webApp"><span></span>WEB &amp; APP</div>
            	<ul class="nav_sub">
            		<li><a href="#">tag</a>
                </ul>
            </li>
            
            <li class="nav_group">
    			<div class="nav_title" id="ct_design"><span></span>DESIGN</div>
            	<ul class="nav_sub">
            		<li><a href="#">tag</a>
                    <li><a href="#">tag</a>
                    <li><a href="#">tag</a>
                </ul>
            </li>
            
            <li class="nav_group">
    			<div class="nav_title" id="ct_3d"><span></span>3D</div>
            	<ul class="nav_sub">
            		<li><a href="#">tag</a>
                    <li><a href="#">tag</a>
                </ul>
            </li>
    	</ul><!--//nav_category-->
	</div><!--//categoryWrap-->
</div><!--//aside-->
    
<!--<div id="navigator"></div>-->


<div class="modal_bg"></div>
<div class="modal_bg2"></div>
    
<div class="modal" id="modal_login">
	<div class="modal_hd"></div> 
    <div class="modal_bd" id="modal_bd_login">
    	<div id="otherLoginWrap">
            <a id="link_facebook" href="#"></a>
            <span id="otherLogin">LOGIN WITH FACEBOOK</span>
        </div>
        
        <div class="login_inputWrap" id="inputWrap_id">
            <div class="login_smallBox"></div><input class="inputStyle2" type="text" placeholder="ID"/>
        </div>
        <div class="login_inputWrap" id="inputWrap_pw">
            <div class="login_smallBox"></div><input class="inputStyle2" type="password" placeholder="PASSWORD"/>
        </div>
        
        <input type="button" class="btnStyle2" id="btn_mdLogin" value="LOGIN"/>
        
        <p><a href="#">FIND PASSWORD</a></p>
        
        <hr>
        <input type="button" class="btnStyle2" id="btn_mdJoin" value="JOIN" onClick="joinModalOpen()"/>
    </div><!--//modal_bd -->
</div><!--//modal_login-->


<div class="modal" id="modal_join">
	<div class="modal_hd"></div> 
    <div class="modal_bd" id="modal_bd_login">
    	<div id="joinTitle">JOIN FORM</div>
        
        <div class="login_inputWrap" id="inputWrap_id">
            <div class="login_smallBox">
            </div><input class="inputStyle2" type="text" placeholder="ID"/>
        </div>
        <div class="login_inputWrap" id="inputWrap_pw">
            <div class="login_smallBox"></div>
            <input class="inputStyle2" type="password" placeholder="PASSWORD"/>
        </div>
        <div class="login_inputWrap" id="inputWrap_pw">
            <div class="login_smallBox"></div>
            <input class="inputStyle2" type="password" placeholder="PASSWORD"/>
        </div>
        <div class="login_inputWrap" id="inputWrap_name">
            <div class="login_smallBox"></div>
            <input class="inputStyle2" type="text" placeholder="NAME"/>
        </div>
        <div class="login_inputWrap join_inputWrap" id="inputWrap_gender">
            <div class="login_smallBox"></div>
            <div id="selectWrap_gender">
                <select class="inputStyle2 input_join" id="input_gender" >
                    <option value="male">MALE</option>
                    <option value="female">FEMALE</option>
                </select>
            </div>
        </div>
        <div class="login_inputWrap join_inputWrap" id="inputWrap_studNum">
            <div class="login_smallBox"></div><input class="inputStyle2 input_join" type="number" placeholder="STUDENT NUMBER"/>
        </div>
        
        <div class="login_inputWrap" id="inputWrap_bookmark" >
            <div class="login_smallBox"></div>
            <input class="inputStyle2" id="btn_addBookmark" type="button" value="LIKE" onClick="likeCategoryModalOpen()"/>
        </div>
        <input type="button" class="btnStyle2" id="btn_mdJoinForm" value="JOIN"/>
        
    </div><!--//modal_bd -->
</div><!--//modal_join-->

    
<div class="modal modal_dCategory" id="modal_likeCategory">
    <div class="modal_hd modal_hd_dCategory">CATEGORY
        <input class="btnStyle btn_category" id="btn_likeCategory" type="button" value="REGIST"/>
    </div>
    <div class="modal_bd modal_bd_dCategory">
        <ul>
            <li>
                <input type="checkbox" data-labelauty="게임프로그래밍"/>
                <label class="label_category">게임프로그래밍게임프로그래밍게임프로그래밍</label>
            </li>
            <li>
                <input type="checkbox" data-labelauty="게임프로그래밍"/>
                <label class="label_category">게임프로그래밍</label>
            </li>
            <li>
                <input type="checkbox" data-labelauty="게임프로그래밍"/>
                <label class="label_category">게임프로그래밍</label>
            </li>
            <li>
                <input type="checkbox" data-labelauty="게임프로그래밍"/>
                <label class="label_category">게임프로그래밍</label>
            </li>
            <li>
                <input type="checkbox" data-labelauty="게임프로그래밍"/>
                <label class="label_category">게임프로그래밍</label>
            </li>
            <li>
                <input type="checkbox" data-labelauty="게임프로그래밍"/>
                <label class="label_category">게임프로그래밍</label>
            </li>
            <li>
                <input type="checkbox" data-labelauty="게임프로그래밍"/>
                <label class="label_category">게임프로그래밍</label>
            </li>
            <li>
                <input type="checkbox" data-labelauty="게임프로그래밍"/>
                <label class="label_category">게임프로그래밍ul 1끝</label>
            </li>
        </ul>
        <ul>
            <li>
                <input type="checkbox" data-labelauty="게임프로그래밍"/>
                <label class="label_category">게임프로그래밍</label>
            </li>
            <li>
                <input type="checkbox" data-labelauty="게임프로그래밍"/>
                <label class="label_category">게임프로그래밍</label>
            </li>
            <li>
                <input type="checkbox" data-labelauty="게임프로그래밍"/>
                <label class="label_category">게임프로그래밍</label>
            </li>
            <li>
                <input type="checkbox" data-labelauty="게임프로그래밍"/>
                <label class="label_category">게임프로그래밍</label>
            </li>
            <li>
                <input type="checkbox" data-labelauty="게임프로그래밍"/>
                <label class="label_category">게임프로그래밍</label>
            </li>
            <li>
                <input type="checkbox" data-labelauty="게임프로그래밍"/>
                <label class="label_category">게임프로그래밍</label>
            </li>
            <li>
                <input type="checkbox" data-labelauty="게임프로그래밍"/>
                <label class="label_category">게임프로그래밍</label>
            </li>
            <li>
                <input type="checkbox" data-labelauty="게임프로그래밍"/>
                <label class="label_category">게임프로그래밍</label>
            </li>
            <li>
                <input type="checkbox" data-labelauty="게임프로그래밍"/>
                <label class="label_category">게임프로그래밍</label>
            </li>
            <li>
                <input type="checkbox" data-labelauty="게임프로그래밍"/>
                <label class="label_category">게임프로그래밍ul2 끝</label>
            </li>
        </ul>
        <ul>
            <li>
                <input type="checkbox" data-labelauty="게임프로그래밍"/>
                <label class="label_category">게임프로그래밍</label>
            </li>
            <li>
                <input type="checkbox" data-labelauty="게임프로그래밍"/>
                <label class="label_category">게임프로그래밍</label>
            </li>
            <li>
                <input type="checkbox" data-labelauty="게임프로그래밍"/>
                <label class="label_category">게임프로그래밍</label>
            </li>
            <li>
                <input type="checkbox" data-labelauty="게임프로그래밍"/>
                <label class="label_category">게임프로그래밍</label>
            </li>
            <li>
                <input type="checkbox" data-labelauty="게임프로그래밍"/>
                <label class="label_category">게임프로그래밍</label>
            </li>
            <li>
                <input type="checkbox" data-labelauty="게임프로그래밍"/>
                <label class="label_category">게임프로그래밍</label>
            </li>
            <li>
                <input type="checkbox" data-labelauty="게임프로그래밍"/>
                <label class="label_category">게임프로그래밍</label>
            </li>
            <li>
                <input type="checkbox" data-labelauty="게임프로그래밍"/>
                <label class="label_category">게임프로그래밍</label>
            </li>
            <li>
                <input type="checkbox" data-labelauty="게임프로그래밍"/>
                <label class="label_category">게임프로그래밍</label>
            </li>
            <li>
                <input type="checkbox" data-labelauty="게임프로그래밍"/>
                <label class="label_category">게임프로그래밍</label>
            </li>
            <li>
                <input type="checkbox" data-labelauty="게임프로그래밍"/>
                <label class="label_category">게임프로그래밍</label>
            </li>
            <li>
                <input type="checkbox" data-labelauty="게임프로그래밍"/>
                <label class="label_category">게임프로그래밍ul3끝</label>
            </li>
        </ul>
        
        
    </div><!--//modal_bd_likeCategory -->
</div><!--//_modal_likeCategory-->
    
    
    
<div class="modal" id="modal_content">
	<div class="modal_hd" id="modal_hd_content">
        <p id="content_categoryWrap">
            <span>GAME</span>
            <span> > </span>
            <span>게임프로그래밍</span>
        </p>
        <h2>글제목입니다.글제목입니다.</h2>
        <h3 id="content_userId"><a href="#">12LEEYURA</a></h3>
        <h3 id="content_date">2016.02.10</h3>
        <h3 id="content_hits"><span>0</span> views</h3>
        
        <a href="#" id="contentHeart">
            <img src="images/heartBefore.png" alt="LikeIt"/>
        </a>
        <span id="heartNum">10</span>
    </div> 
    <div class="modal_bd" id="modal_bd_content">
    	<div id="content_imgWrap"></div>
        <div id="content_tagWrap">
            <p>연관 태그</p>
            <span>#겜프</span>
            <span>#게임디자인</span>
            
        </div>
    </div><!--//modal_bd_content -->
    <hr>
    <div class="modal_ft" id="modal_ft_content">
        
        <div class="replyContentWrap">
            <p>
                <a href="#">12LEEYURA</a>
                <a href="#" id="btn_deleteReply">X</a>
                <span>2016-02-12 12:00:00</span>
            </p>
            <div class="replyContent">
                안녕하세요. 댓글입니다. 안녕하세요. 댓글입니다. 안녕하세요. 댓글입니다. 안녕하세요. 댓글입니다. 안녕하세요. 댓글입니다. 안녕하세요. 댓글입니다. 안녕하세요. 댓글입니다. 안녕하세요. 댓글입니다. 안녕하세요. 댓글입니다. 안녕하세요. 댓글입니다. 안녕하세요. 댓글입니다. 안녕하세요. 댓글입니다. 안녕하세요. 댓글입니다. 안녕하세요. 댓글입니다. 안녕하세요. 댓글입니다. 안녕하세요. 댓글입니다. 안녕하세요. 댓글입니다. 안녕하세요. 댓글입니다. 
            </div>
        </div><!--//replyContentWrap-->
        
        <div class="replyContentWrap">
            <p>
                <a href="#">12USER</a>
                <span>2016-02-12 12:00:00</span>
            </p>
            <div class="replyContent">
                안녕하세요. 댓글입니다.  
            </div>
        </div><!--//replyContentWrap-->
       
        <div id="writeReplyWrap">
            <textarea placeholder="댓글 내용을 입력하세요."></textarea>
            <input type="button" value="입력"/>
        </div>
        
        
    </div>
</div><!--//modal_content-->
    
    
    
    
<div class="modal" id="modal_content_userInfo">
	<div class="modal_hd" id="modal_hd_content_userInfo">
        <a href="#">12LEEYURA</a>
    </div> 
    <div id="modal_bd_content_userFavorite">게임프로그래밍</div>
    <div class="modal_bd" id="modal_bd_content_userInfo">
    	안녕하세요. 자기소개입니다. 안녕하세요. 자기소개입니다. 안녕하세요. 자기소개입니다. 안녕하세요. 자기소개입니다. 안녕하세요. 자기소개입니다. 안녕하세요. 자기소개입니다. 안녕하세요. 자기소개입니다. 안녕하세요. 자기소개입니다. 
    </div><!--//modal_bd_content -->
    
    <div class="modal_ft" id="modal_ft_content_userInfo">
        <ul>
            <li><a href="#">FOLLOW</a></li>
            <li><a href="#">MESSAGE</a></li>
        </ul>
        
    </div>
</div><!--//modal_content_userInfo-->








</body>
</html>
