<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  <configuration>
  	<typeAliases>
  		<typeAlias type="com.mediolio.vo.CategoryVO" alias="cavo"/>
  		<typeAlias type="com.mediolio.vo.ContentVO" alias="covo"/>
  		<typeAlias type="com.mediolio.vo.Member_actionVO" alias="mavo"/>
  		<typeAlias type="com.mediolio.vo.MemberVO" alias="mevo"/>
  		<typeAlias type="com.mediolio.vo.MessageVO" alias="msvo"/>
  		<typeAlias type="com.mediolio.vo.ProjectVO" alias="pvo"/>
  		<typeAlias type="com.mediolio.vo.ReplyVO" alias="rvo"/>
  		<typeAlias type="com.mediolio.vo.HashtagVO" alias="hvo"/>
  		<typeAlias type="com.mediolio.vo.PushVO" alias="psvo"/>
  		<typeAlias type="com.mediolio.vo.PushMsgVO" alias="pmvo"/>
  		<typeAlias type="com.mediolio.vo.ProjectDetailVO" alias="pdvo"/>
  		<typeAlias type="com.mediolio.vo.ProjectWriterVO" alias="pwvo"/>
  		<typeAlias type="com.mediolio.vo.CategoryNameVO" alias="cnvo"/>
  		<typeAlias type="com.mediolio.vo.FriendVO" alias="fvo"/>
  		<typeAlias type="com.mediolio.vo.UserProjectsVO" alias="upvo"/>
  		<typeAlias type="com.mediolio.vo.BranchVO" alias="brvo"/>
  		<typeAlias type="com.mediolio.vo.ClassVO" alias="clvo"/>
  		<typeAlias type="com.mediolio.vo.HistoryVO" alias="htvo"/>
  		<typeAlias type="com.mediolio.vo.MemberSkillVO" alias="mkvo"/>
  		<typeAlias type="com.mediolio.vo.SkillsVO" alias="skvo"/>
  		<typeAlias type="com.mediolio.vo.TeamMemberVO" alias="tmvo"/>
  	</typeAliases>
  </configuration>
  