<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  <configuration>
  	<typeAliases>
  		<typeAlias type="com.mediolio.vo.CategoryVO" alias="cavo"/>
  		<typeAlias type="com.mediolio.vo.ContentVO" alias="covo"/>
  		<typeAlias type="com.mediolio.vo.Member_actionVO" alias="mavo"/>
  		<typeAlias type="com.mediolio.vo.MemberVO" alias="mevo"/>
  		<typeAlias type="com.mediolio.vo.MessageVO" alias="msvo"/>
  		<typeAlias type="com.mediolio.vo.ProjectVO" alias="pvo"/>
  		<typeAlias type="com.mediolio.vo.ReplyVO" alias="rvo"/>
  		<typeAlias type="com.mediolio.vo.SubcategoryVO" alias="scvo"/>
  		<typeAlias type="com.mediolio.vo.HashtagVO" alias="hvo"/>
  	</typeAliases>
  </configuration>
  