@charset "utf-8";
/* CSS Document */

html, body{ width:100%; height:100%;}
#header{ width:100%; height:40px; padding-top:10px; background-color:#222; position:fixed; z-index:10;}
#headerWrap{ width:402px; height:30px; margin-right:20px; float:right; }


#search_main, #btn_login, #select_main, #text_main, #bellWrap{ float:left; }
#btn_login{ width:70px;}
#search_main{ margin-right:20px; }
#select_main{ width:85px; height:24px;}
#text_main{ width:120px; height:24px;}

#selectWrap_main{ width:73px; padding-left:10px; height:22px; float:left; line-height:22px; margin-top:3px; margin-left:3px; background:#fff; border-radius:30px; font-size:12px; border:1px solid #999;}






#aside{ width:210px; height:100%; background:#222; box-sizing:border-box; position:fixed; z-index:12; }


/* #logoIcon{ display:block; position:relative; width:95%; height:100%; float:left;  */
/* margin-right:20px;  background-image:url(../images/mediolio.png); background-position:center center; background-repeat:no-repeat; } */
#logoWrap{ width:100%; height:50px; background:#111;}
.asideWrap{ width:190px; padding-left:20px;}

#uploadWrap{ width:100%; height:60px; background:#444;}

#categoryTitle{ height:25px; background:#111;}
#categoryTitle p{ font:12px/25px 'Open Sans', sans-serif; color:#999; font-weight:bold;}

#categoryWrap{ width:210px; }


#userBox{ height:90px; background:#222;  }
#userBox #user_idWrap{ width:100%; height:40px; background-image:url(../images/user.png); background-position:left center; background-repeat:no-repeat; background-size:7.5%;  }
#userBox #user_idWrap a{ display:inline-block; line-height:40px;  font-size:12px; font-family:'Open Sans', sans-serif; font-weight:bold; color:#eee; margin-left:20px; }
#userBox #user_idWrap a:hover{ text-decoration:underline;}

#userBox ul li{ float:left; width:35px; height:35px; margin-right:10px; }
#userBox ul li#myPf{ background:#e64c3c; background-image:url(../images/myPortfolio.png); background-position:center center; background-repeat:no-repeat;}
#userBox ul li#likePf{ background:#e17d25; background-image:url(../images/like.png); background-position:center center; background-repeat:no-repeat;}
#userBox ul li#follow{ background:#f4c10f; background-image:url(../images/follow.png); background-position:center center; background-repeat:no-repeat;}
#userBox ul li#message{ background:#29ae5d; margin-right:0; background-image:url(../images/message.png); background-position:center center; background-repeat:no-repeat;}

#userBox ul li a{cursor:pointer; width:35px; height:35px; }


a#uploadPf{ display:block; width:100%; height:60px; font:12px 'Open Sans', sans-serif; letter-spacing:1px; font-weight:bold; color:#eee; line-height:60px; text-indent:23px; text-align:center; background:url(../images/write.png) 20px center no-repeat;}



.nav_title{ height:40px; letter-spacing:1px; font-weight:400; color:#ccc; padding-left:20px; cursor:pointer; font-size:15px; font-family:'Open Sans', sans-serif; line-height:40px;}
.nav_title span{ display:block; float:left; margin-right:10px; width:20px; height:40px; background-position:0 center; background-repeat:no-repeat;}
#ct_game span{ background-image:url(../images/game.png);}
#ct_video span{ background-image:url(../images/video.png);}
#ct_sound span{ background-image:url(../images/sound.png);}
#ct_webApp span{ background-image:url(../images/web.png);}
#ct_design span{ background-image:url(../images/design.png);}
#ct_3d span{ background-image:url(../images/_3d.png);}
#ct_graphics { font-size:14px; letter-spacing:-1px;}
#ct_graphics span{ background-image:url(../images/graphics.png);}

.choose_menuText{ color:#fff; background-color:#0f84cf;	}


.nav_sub li{ height:25px; line-height:25px; text-indent:25px; background:#111;}
.nav_sub li a{ font-family:'나눔고딕', 'Nanum Gothic', sans-serif; font-size:12px; color:#999;}
.nav_sub li a:hover{ color:#eee;}
.nav_selected{ background-position:-20px center;}





#bellWrap{ position:relative; }
#bellIcon{ display:block; position:relative; width:30px; height:30px; float:left; 
margin-right:20px;  background-image:url(../images/bell.png); background-position:center center; background-repeat:no-repeat; background-size:95%; }

#bellIcon span#bellNum{ display:block; position:absolute; z-index:15; top:0; right:0; width:15px; height:15px; border-radius:50%; background:red; color:#fff; font-size:9px; text-align:center; line-height:15px;}



#bubble_bell{ position:absolute; z-index:17; top:35px; left:-15px; box-sizing: border-box;  
background:#fff; border-radius:10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border:1px solid #eee; 
min-width:420px; width:auto; max-width:500px; height:150px; overflow-y:hidden; box-shadow:1px 1px 8px rgba(0,0,0,.3)}


#bubble_bell::-webkit-scrollbar { 
    display: block; 
}

#bubbleAfter{   display: block;
    content: "";
    position: absolute;
    top: 29px;
    border-style: solid;
    border-width: 0 10px 11px;
    display: none;
    width: 0;
    z-index: 1;
    left:5px; border-color:#fff transparent;}

#bubble_bell .bell_content{float:left; width:100%; min-height:30px; height:auto; padding-top:10px; padding-bottom:10px; line-height:20px; box-sizing:border-box; outline:none; }
#bubble_bell .bell_content img{height:16px; width:auto; float:left; display:inline-block; padding:4px 2px; margin:0 5px;}
#bubble_bell .bell_content a{display:block; min-width:200px; width:auto; max-width:500px; height:auto; color:#666; font-size:12px; box-sizing:border-box; padding-left:10px; }
#bubble_bell .bell_content a span{float:left;}
#bubble_bell .bell_content .ellipsis{width:auto; max-width:100px; -o-text-overflow:ellipsis; word-wrap:normal !important; display: inline-block; font-weight:bold; margin:0 4px;}
#bubble_bell .bell_content .msg_text{max-width:390px; font-weight:normal; clear: both;}
#bubble_bell .bell_content .bell_date{float:right; margin-right:20px;}
#bubble_bell .bell_content:hover{ background:#eee; }

#bubble_bell .bell_content:first-child:hover{ background:#eee; border-radius:10px 10px 0 0; }
#bubble_bell .bell_content:last-child:hover{ background:#eee; border-radius:0 0 10px 10px; }

#bubble_bell .bell_nothing{width:100%; height:140px; line-height:140px; text-align: center;}


/* 쪽지 페이지 */
.rmcnWrap{ position:fixed; right:40px; bottom:20px; width:40px; height:100px; }
.btn_rmcn{ display:block; width:40px; height:40px; background:#fff; margin-bottom:5px; box-sizing: border-box; border:1px solid #999; border-radius:10px; box-shadow:1px 1px 5px rgba(0,0,0,.5); }

#btn_rmcnUp{ background-image:url(../images/up_grey.png); background-repeat:no-repeat; background-position:center center; }
#btn_rmcnDown{ background-image:url(../images/down_grey.png); background-repeat:no-repeat; background-position:center center; }