<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="css/jquery.bxslider.css" rel="stylesheet" type="text/css"/>
<link href="css/index2.css" rel="stylesheet" type="text/css"/>
<script src="js/jquery.dotdotdot.min.js" type="text/javascript"></script>
<script src="js/jquery.bxslider.min.js"></script>
<!-- 16-05-18 / 기존의 링크에 추가된 것 -->
 
</head>
<body>
<div id="contentsWrap">

<div class="cardWrap cardWrap_main">
    <div id="historyTitle_main">
        <span>내 히스토리 - </span>
        <span class="ellipsis">JUICY 반응형 웹사이트dddddddddddddddeeeeeeeeeeddddd</span>
        <input type="button" class="btnStyle3" id="btn_moreHistory" value="바로가기">
    </div>
    <div class="historyWrap historyWrap_main clear">
        
        <div class="timeLineWrap clear">
            
            <div class="timeCardWrap clear">
                <div class="timeCircle"></div>
                <div class="cardWrap timeCard">
                    <div class="timeCard_hd">
                        <h3 class="ellipsis">JUICY 반응형 웹사이트-1280px</h3>
                        <h4>2016.01.01 12:00:00</h4>
                    </div>
                    <div class="timeCard_visualWrap slider">
                        <ul class="bxslider">
                            <li><a href="#">
                                <img src="images/pf6.png" class="timeLine_img">
                            </a></li>
                            <li><a href="#">
                                <img src="images/pf5.png" class="timeLine_img">
                            </a></li>
                            <li><a href="#">
                                <img src="images/pf6.png" class="timeLine_img">
                            </a></li>
                        </ul>
                    </div><!--//timeCard_visualWrap -->
                    <div class="timeCard_content">
                        한 회계연도를 넘어 계속하여 지출할 필요가 있을 때에는 정부는 연한을 정하여 계속비로서 국회의 의결을 얻어야 한다. 정당은 법률이 정하는 바에 의하여 국가의 보호를 받으며, 국가는 법률이 정하는 바에 의하여 정당운영에 필요한 자금을 보조할 수 있다. 대통령은 헌법과 법률이 정하는 바에 의하여 공무원을 임면한다. 대통령은 헌법과 법률이 정하는 바에 의하여 국군을 통수한다. 탄핵소추의 의결을 받은 자는 탄핵심판이 있을 때까지 그 권한행사가 정지된다. 국무총리는 대통령을 보좌하며, 행정에 관하여 대통령의 명을 받아 행정각부를 통할한다. 정부는 회계연도마다 예산안을 편성하여 회계연도 개시 90일전까지 국회에 제출하고, 국회는 회계연도 개시 30일전까지 이를 의결하여야 한다.
                    </div><!--//timeCard_content-->
                    <a href="#" class="timeCard_more">더 보기..</a>
                </div><!--//timeCard-->
            </div><!--//timeCardWrap-->
            
            <div class="timeCardWrap clear">
                <div class="timeCircle"></div>
                <div class="cardWrap timeCard">
                    <div class="timeCard_hd">
                        <h3 class="ellipsis">JUICY 반응형 웹사이트-1280px</h3>
                        <h4>2016.01.01 12:00:00</h4>
                    </div>
                    <div class="timeCard_visualWrap slider">
                        <ul class="timeCard_imgWrap clear">
                            <li><a href="#">
                                <img src="images/pf4.png">
                            </a></li>
                            <li><a href="#">
                                <img src="images/pf.png">
                            </a></li>
                        </ul>
                    </div><!--//timeCard_visualWrap -->
                    <div class="timeCard_content">
                        한 회계연도를 넘어 계속하여 지출할 필요가 있을 때에는 정부는 연한을 정하여 계속비로서 국회의 의결을 얻어야 한다. 정당은 법률이 정하는 바에 의하여 국가의 보호를 받으며, 국가는 법률이 정하는 바에 의하여 정당운영에 필요한 자금을 보조할 수 있다. 대통령은 헌법과 법률이 정하는 바에 의하여 공무원을 임면한다. 대통령은 헌법과 법률이 정하는 바에 의하여 국군을 통수한다. 탄핵소추의 의결을 받은 자는 탄핵심판이 있을 때까지 그 권한행사가 정지된다. 국무총리는 대통령을 보좌하며, 행정에 관하여 대통령의 명을 받아 행정각부를 통할한다. 정부는 회계연도마다 예산안을 편성하여 회계연도 개시 90일전까지 국회에 제출하고, 국회는 회계연도 개시 30일전까지 이를 의결하여야 한다.

                    </div><!--//timeCard_content-->
                    <div class="timeCard_btnBox">
                        <input class="btnStyle_timeCard_left" type="button" value="수정">
                        <input class="btnStyle_timeCard_right" type="button" value="삭제">
                    </div>
                </div><!--//timeCard-->
            </div><!--//timeCardWrap-->
            
            
            
            <div class="timeCardWrap clear">
                <div class="timeCircle"></div>
                <div class="cardWrap timeCard">
                    <div class="timeCard_hd">
                        <h3 class="ellipsis">JUICY 반응형 웹사이트-1280px</h3>
                        <h4>2016.01.01 12:00:00</h4>
                        <span class="timeCard_display timeCard_lock">비공개</span>
                    </div>
                    <div class="timeCard_visualWrap slider">
                        <ul class="timeCard_imgWrap">
                            <li><a href="#">
                                <img src="images/pf4.png">
                            </a></li>
                        </ul>
                    </div><!--//timeCard_visualWrap -->
                    <div class="timeCard_content">
                        한 회계연도를 넘어 계속하여 지출할 필요가 있을 때에는 정부는 연한을 정하여 계속비로서 국회의 의결을 얻어야 한다. 정당은 법률이 정하는 바에 의하여 국가의 보호를 받으며, 국가는 법률이 정하는 바에 의하여 정당운영에 필요한 자금을 보조할 수 있다. 대통령은 헌법과 법률이 정하는 바에 의하여 공무원을 임면한다. 대통령은 헌법과 법률이 정하는 바에 의하여 국군을 통수한다. 탄핵소추의 의결을 받은 자는 탄핵심판이 있을 때까지 그 권한행사가 정지된다. 국무총리는 대통령을 보좌하며, 행정에 관하여 대통령의 명을 받아 행정각부를 통할한다. 정부는 회계연도마다 예산안을 편성하여 회계연도 개시 90일전까지 국회에 제출하고, 국회는 회계연도 개시 30일전까지 이를 의결하여야 한다.

                    </div><!--//timeCard_content-->
                    <div class="timeCard_btnBox">
                        <input class="btnStyle_timeCard_left" type="button" value="수정">
                        <input class="btnStyle_timeCard_right" type="button" value="삭제">
                    </div>
                </div><!--//timeCard-->
            </div><!--//timeCardWrap-->
            
            
            
        </div>
    </div>
</div>
    
    
<div class="cardWrap newestWrap">
    <div class="hd_historyEx">나의 관심분야 최신 글</div>
    
    <div class="newestWrap_bd">
        <div class="newestWrap_title">
            웹프로그래밍
            <input type="button" value="more" class="btnStyle4">
        </div><!--//newestWrap_title-->
        
        <div class="newest_contentWrap">
            <a href="#">
                <img src="http://placehold.it/80x80/ccc" width="80" height="80" alt="포트폴리오 이미지"/>
            </a>
            <div class="newest_textWrap">
                <p class="newest_title"><a class="ellipsis" href="#">맘스터치 사이트 리뉴얼</a></p>
                <p class="newest_content"><a href="#">내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. </a></p>
                <p class="newest_tag ellipsis">#게임프로그래밍, #게임디자인, #게임프로그래밍, #게임디자인, #게임프로그래밍, #게임디자인</p>
            </div>
        </div><!--//newest_contentWrap-->
        <div class="newest_contentWrap">
            <a href="#">
                <img src="http://placehold.it/80x80/ccc" width="80" height="80" alt="포트폴리오 이미지"/>
            </a>
            <div class="newest_textWrap">
                <p class="newest_title"><a class="ellipsis" href="#">맘스터치 사이트 리뉴얼</a></p>
                <p class="newest_content"><a href="#">내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. </a></p>
                <p class="newest_tag ellipsis">#게임프로그래밍, #게임디자인, #게임프로그래밍, #게임디자인, #게임프로그래밍, #게임디자인</p>
            </div>
        </div><!--//newest_contentWrap-->
        <div class="newest_contentWrap">
            <a href="#">
                <img src="http://placehold.it/80x80/ccc" width="80" height="80" alt="포트폴리오 이미지"/>
            </a>
            <div class="newest_textWrap">
                <p class="newest_title"><a class="ellipsis" href="#">맘스터치 사이트 리뉴얼</a></p>
                <p class="newest_content"><a href="#">내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. </a></p>
                <p class="newest_tag ellipsis">#게임프로그래밍, #게임디자인, #게임프로그래밍, #게임디자인, #게임프로그래밍, #게임디자인</p>
            </div>
        </div><!--//newest_contentWrap-->
        
    </div><!--//newestWrap_bd-->
    
    <div class="newestWrap_bd">
        <div class="newestWrap_title">
            웹프로그래밍
            <input type="button" value="more" class="btnStyle4">
        </div><!--//newestWrap_title-->
        
        <div class="newest_contentWrap">
            <a href="#">
                <img src="http://placehold.it/80x80/ccc" width="80" height="80" alt="포트폴리오 이미지"/>
            </a>
            <div class="newest_textWrap">
                <p class="newest_title"><a class="ellipsis" href="#">맘스터치 사이트 리뉴얼</a></p>
                <p class="newest_content"><a href="#">내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. </a></p>
                <p class="newest_tag ellipsis">#게임프로그래밍, #게임디자인, #게임프로그래밍, #게임디자인, #게임프로그래밍, #게임디자인</p>
            </div>
        </div><!--//newest_contentWrap-->
        <div class="newest_contentWrap">
            <a href="#">
                <img src="http://placehold.it/80x80/ccc" width="80" height="80" alt="포트폴리오 이미지"/>
            </a>
            <div class="newest_textWrap">
                <p class="newest_title"><a class="ellipsis" href="#">맘스터치 사이트 리뉴얼</a></p>
                <p class="newest_content"><a href="#">내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. </a></p>
                <p class="newest_tag ellipsis">#게임프로그래밍, #게임디자인, #게임프로그래밍, #게임디자인, #게임프로그래밍, #게임디자인</p>
            </div>
        </div><!--//newest_contentWrap-->
        <div class="newest_contentWrap">
            <a href="#">
                <img src="http://placehold.it/80x80/ccc" width="80" height="80" alt="포트폴리오 이미지"/>
            </a>
            <div class="newest_textWrap">
                <p class="newest_title"><a class="ellipsis" href="#">맘스터치 사이트 리뉴얼</a></p>
                <p class="newest_content"><a href="#">내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. </a></p>
                <p class="newest_tag ellipsis">#게임프로그래밍, #게임디자인, #게임프로그래밍, #게임디자인, #게임프로그래밍, #게임디자인</p>
            </div>
        </div><!--//newest_contentWrap-->
        
    </div><!--//newestWrap_bd-->
    
    <div class="newestWrap_bd">
        <div class="newestWrap_title">
            웹프로그래밍
            <input type="button" value="more" class="btnStyle4">
        </div><!--//newestWrap_title-->
        
        <div class="newest_contentWrap">
            <a href="#">
                <img src="http://placehold.it/80x80/ccc" width="80" height="80" alt="포트폴리오 이미지"/>
            </a>
            <div class="newest_textWrap">
                <p class="newest_title"><a class="ellipsis" href="#">맘스터치 사이트 리뉴얼</a></p>
                <p class="newest_content"><a href="#">내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. </a></p>
                <p class="newest_tag ellipsis">#게임프로그래밍, #게임디자인, #게임프로그래밍, #게임디자인, #게임프로그래밍, #게임디자인</p>
            </div>
        </div><!--//newest_contentWrap-->
        <div class="newest_contentWrap">
            <a href="#">
                <img src="http://placehold.it/80x80/ccc" width="80" height="80" alt="포트폴리오 이미지"/>
            </a>
            <div class="newest_textWrap">
                <p class="newest_title"><a class="ellipsis" href="#">맘스터치 사이트 리뉴얼</a></p>
                <p class="newest_content"><a href="#">내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. </a></p>
                <p class="newest_tag ellipsis">#게임프로그래밍, #게임디자인, #게임프로그래밍, #게임디자인, #게임프로그래밍, #게임디자인</p>
            </div>
        </div><!--//newest_contentWrap-->
        <div class="newest_contentWrap">
            <a href="#">
                <img src="http://placehold.it/80x80/ccc" width="80" height="80" alt="포트폴리오 이미지"/>
            </a>
            <div class="newest_textWrap">
                <p class="newest_title"><a class="ellipsis" href="#">맘스터치 사이트 리뉴얼</a></p>
                <p class="newest_content"><a href="#">내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. </a></p>
                <p class="newest_tag ellipsis">#게임프로그래밍, #게임디자인, #게임프로그래밍, #게임디자인, #게임프로그래밍, #게임디자인</p>
            </div>
        </div><!--//newest_contentWrap-->
        
    </div><!--//newestWrap_bd-->
</div><!--//newestWrap-->

</div>
</body>
</html>